[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amorem"]
	path = amorem
	url = https://github.com/franciscorichter/amorem
[submodule "phyloatlas"]
	path = phyloatlas
	url = https://github.com/franciscorichter/phylo-species-atlas
	subdir = phyloatlas
[submodule "rgm"]
	path = rgm
	url = https://github.com/franciscorichter/rgm
